
@{
    ViewBag.Title = "Index";
   

}
<div class="Muerdes">
    <br />
    <br />
    <br />
</div>
<h2>Bienvenido a Principal</h2>

<div class="card-body">
    <h5 class="card-title"> <i class="fas fa-desktop"></i> Tecnologia</h5>

    <p class="card-text">Sabemos lo importante que es para usted el área de tecnología de su empresa, por lo que nos aseguramos de tener a los mejores ingenieros altamente calificados para atender cualquiera de sus necesidades, en cualquier momento.</p>
    <p class="card-text"><button type="button" class="btn btn-dark"><a href="https://localhost:44363/Home/Contact" class="text-white">Ver mas</a> <i class="fas fa-arrow-right"></i></button></p>

</div>