@model SoporteWeb.Models.ApplicationUser
@{
    ViewBag.Title = "AddRoles";
}
<div class="Muerdes">
    <br />
    <br />
    <br />
</div>

<div class="Comes">

    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card py-0">
                    <div class="card-header bg-dark">
                        <h5 class="m-1 text-white">Agregar un Rol</h5>
                    </div>
                    <div class="card-body">
                        <form class="" action="@Url.Action("AddRoles","Roles")" method="post">
                            <div class="form-group">
                                <label class="col-md-10">Usuario</label>
                                <div class="col-md-10">
                                    <input type="hidden" name="UserId" value="@Model.Id" />
                                    <input type="text" name="UserName" value="@Model.UserName" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-10">Escoja el rol</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="RolName" required>
                                        <option value="">Elige un Rol</option>
                                        <option value="Administrator">Administrador</option>
                                        <option value="Normal">Normal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content-center">

                                <a href="@Url.Action("Index","Roles")" class="btn btn-dark btn-sm">Regresar</a>
                                <input type="submit" value="Enviar" class="btn btn-dark btn-sm ml-3" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Technical Support</h2>
                    <p>Una Empresa totalmente capacitada para resolver tus problemas informáticos</p>

                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Servicios</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fas fa-server"></i> Virtualización de servidores</a></li>
                        <li><a href="#"><i class="fas fa-user-friends"></i> Soporte presencial</a></li>
                        <li><a href="#"><i class="fas fa-laptop"></i> Soporte Remoto</a></li>
                        <li><a href="#"><i class="fas fa-desktop"></i> Orientación Informática</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Lista de Contacto</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i><span class="text"> Calle Coahuila 2009, Zona Nte., 22000 Tijuana, B.C.</span></li>
                            <li><i class="fas fa-phone-alt"></i><span class="text"> +52 664 111 55 44 </span></li>
                            <li><i class="fas fa-envelope"></i><span class="text"> info@tech.net</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>