@model SoporteWeb.Models.Tipo

@{
    ViewBag.Title = "Delete";
}

    <div class="text-center mt-3">
        <h2><p class="text-white font-weight-bolder">Eliminar</p></h2>
    </div>

    <div class="container">
        
            <div class="col-md-10">
                <div class="card">
                    <h3 class="text-center">¿Seguro que deseas eliminarlo?</h3>
                    <div>
                        <h4>Tipo</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color text-center">
                                <input type="submit" value="Eliminar" class="btn btn-dark" /> |
                                @Html.ActionLink("Regresar a la lista", "Index", "Tipoes", new { @class = "btn btn-dark" })

                            </div>
                        }
                    <br />
                    <br />
                    </div>
                </div>

            </div>
        </div>
